@tailwind base;
@tailwind components;
@tailwind utilities;

.no-select {
    @apply select-none cursor-default;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}