@tailwind base;
@tailwind components;
@tailwind utilities;

.no-select {
  @apply select-none cursor-default;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

[data-overlay-initial-focus]:focus {
  outline: none !important;
}

input[data-overlay-initial-focus]:focus,
textarea[data-overlay-initial-focus]:focus,
select[data-overlay-initial-focus]:focus {
  box-shadow: none !important;
}

html:not(.dark) button.variant-ghost-primary:not(:disabled):hover,
html:not(.dark) a.variant-ghost-primary:hover,
html:not(.dark) .btn-group.variant-ghost-primary > button:not(:disabled):hover,
html:not(.dark) .btn-group.variant-ghost-primary > a:hover {
  background-color: rgb(var(--color-primary-200)) !important;
  filter: none !important;
}

html:not(.dark) button.variant-ghost-success:not(:disabled):hover,
html:not(.dark) a.variant-ghost-success:hover {
  background-color: rgb(var(--color-success-200)) !important;
  filter: none !important;
}
